
/* Body color */ 
body { 
	background: white; color: black;
	padding-left: 15%; padding-right: 15%;
	padding-top: 1em; padding-bottom: 1em;
	font-family: sans-serif;
}

pre { font-family: monospace; }
 
/* Tables */ 
table.summary, table.details, table.index
                   { background: #f8f8e8; color: #000000; } 
tr.summary, tr.details, tr.index
                   { background: #ea9139; color: #000000;  
                     text-align: left; font-size: 120%; } 
tr.group           { background: #f8f4bf; color: #000000;
                     text-align: left; font-size: 120%;
                     font-style: italic; } 

/* Documentation page titles */
h2.module          { margin-top: 0.2em; }
h2.class           { margin-top: 0.2em; }
 
/* Headings */
h1.heading         { font-size: +140%; font-style: italic;
                     font-weight: bold; }
h2.heading         { font-size: +125%; font-style: italic;
                     font-weight: bold; }
h3.heading         { font-size: +110%; font-style: italic;
                     font-weight: normal; }
                    
/* Base tree */
pre.base-tree      { font-size: 80%; margin: 0; }

/* Details Sections */
table.func-details { background: #f8f8e8; color: #000000;
                     border: 2px groove #b59b9b;
                     padding: 0 1em 0 1em; margin: 0.4em 0 0 0; }
h3.func-detail     { background: transparent; color: #000000;
                     margin: 0 0 1em 0; }

table.var-details  { background: #f8f8e8; color: #000000;
                     border: 2px groove #b59b9b;
                     padding: 0 1em 0 1em; margin: 0.4em 0 0 0; }
h3.var-details     { background: transparent; color: #000000;
                     margin: 0 0 1em 0; }

/* Function signatures */
.sig               { background: transparent; color: #000000;
                     font-weight: bold; }  
.sig-name          { background: transparent; color: #bd2f00; }  
.sig-arg, .sig-kwarg, .sig-vararg
                   { background: transparent; color: #bd002f; }  
.sig-default       { background: transparent; color: #602000; }  
.summary-sig       { background: transparent; color: #000000; }  
.summary-sig-name  { background: transparent; color: #af842c; }
.summary-sig-arg, .summary-sig-kwarg, .summary-sig-vararg
                   { background: transparent; color: #bd002f; }  

/* Doctest blocks */
.py-src            { background: transparent; color: #000000; }
.py-prompt         { background: transparent; color: #8f0000;
                     font-weight: bold;}
.py-string         { background: transparent; color: #613000; }
.py-comment        { background: transparent; color: #003060; }
.py-keyword        { background: transparent; color: #600000; }
.py-output         { background: transparent; color: #404040; }
pre.doctestblock   { background: #f4faff; color: #000000; 
                     padding: .5em; margin: 1em;
                     border: 1px solid #708890; }
table pre.doctestblock
                   { background: #d6c4b3; color: #000000; 
                     padding: .5em; margin: 1em;
                     border: 1px solid #708890; }

/* Variable values */
pre.variable       { background: #d6c4b3; color: #000000;
                     padding: .5em; margin: 0;
                     border: 1px solid #708890; }
.variable-linewrap { background: transparent; color: #604000; }
.variable-ellipsis { background: transparent; color: #604000; }
.variable-quote    { background: transparent; color: #604000; }
.re                { background: transparent; color: #000000; }
.re-char           { background: transparent; color: #613000; }
.re-op             { background: transparent; color: #600000; }
.re-group          { background: transparent; color: #003060; }
.re-ref            { background: transparent; color: #404040; }

/* Navigation bar */ 
table.navbar       { background: #ffdf9e; color: #ff8000;
                     border: 2px groove #b59b9b; }
th.navbar          { background: #ff8000; color: black; } 
th.navselect       { background: #c06000; color: black; } 
.nomargin          { margin: 0; }

/* Links */ 
a:link             { background: transparent; color: #cf6000; }  
a:visited          { background: transparent; color: #af5000; }  
a.navbar:link      { background: transparent; color: #402000; 
                     text-decoration: none; }  
a.navbar:visited   { background: transparent; color: #201000; 
                     text-decoration: none; }  

/* Lists */
ul { margin-top: 0; }
