/*
:Author: Diego Essaya
:Contact: diego@qb9.net
:Copyright: This stylesheet has been placed in the public domain.

Cascading style sheet for the qxp site.

See http://docutils.sf.net/docs/howto/html-stylesheets.html for how to
customize this style sheet.
*/

h1, h2, h3, h4, h5, h6, p, ul, ol, .field {
	font-family: sans-serif;
	text-align: left;
}
pre {
	font-family: "Andale Mono", "Monotype.com", monospace
	padding: 0;
	margin: 0;
}
/** html pre {
	font-size: x-small;
}*/
body {
	background: #777777;
	margin: 0;
	padding: 0;
	padding-top: 30px;
	padding-bottom: 30px;
	height: 100%;
	text-align: center;
}
div.document {
	width: 90%;
	max-width: 90ex;
	margin-left: auto;
	margin-right: auto;
	background: white;
	padding: 0;
	border: solid 1px;
	text-align: left;
}
h1.title {
	border-bottom: solid 1px;
	clear: both;
	padding-left: 1em;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
	background: #ff7f00;
}
div.content {
	overflow: hidden;
	padding: 0;
	margin: 0;
	height: 100%;
	position: relative;
}
div.sidebar {
	float: right;
	width: 23%;
	position: absolute;
	right: 0;
	height: 100%;
	margin: 0;
	display: inline;
	border-left: dashed 1px;
}
div.sidebar-contents {
	padding: 0.5em;
	text-align: center;
}
div.sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 1em;
	white-space: nowrap;
	text-align: left;
}
div.w3c-button {
	position: absolute;
	bottom: 150px;
	width: 100%;
}
div.w3c-button p { text-align: center; }
div.qb9-logo {
	position: absolute;
	bottom: 0;
	padding-bottom: 1em;
	width: 100%;
	text-align: center;
}
div.main {
	float: left;
	width: 70%;
	padding: 3%;
	position: relative;
}
div.footer {
	clear: both;
	border-top: solid 1px;
	padding-right: 1em;
	margin: 0;
	padding: 0;
}
div.footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
	font-size: small;
	background: #c1e735;
	padding-right: 0.5ex;
}
div.footer a {
	color: black;
}
div.footer li {
	display: inline;
	border-left:solid 1px;
	border-right:solid 1px;
	padding-left: 10px;
	padding-right: 10px;
}
a {
	text-decoration: none;
}
a:visited {
	color: #00007f;
}
img {
	border: none;
}
.first {
	margin-top: 0;
}
* tr.field {
	padding-bottom: 1em;
}

.main pre.code { position:relative; }
.py_comment { color: green; }
.py_string { color: purple; }
.py_keyword { font-weight: bold; color: blue; }
p.toggle {
	width: 100%; padding: 2px;
	text-align: right; font-size: x-small; }
p.toggle a { border: solid 1px; padding: 2px; }
p.toggle a:hover {
	background: #ff7f00;
}
